node_modules/
build/
dist/
**/coverage/
.expo/
*.tsbuildinfo

# Expo
apps/example/.expo/
apps/example/web-build/

# OS
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Turbo
.turbo/

# pnpm
.pnpm-store/

# Env
.env
.env*.local

# Cursor
.cursor/

# Firecrawl
.firecrawl/

# CodeGraph
.codegraph/

#omc
.omc
